/*Main specification*/

$screenHeight: 100vh;
$color_main:#ffff00;
$color_orange:#ff9c00;


@mixin title{
	.title{
	padding-top: 25px;
	padding-bottom: 40px;
	text-align: center;

	.title__text{
		font-size: 20px;
		max-width: 780px;
		margin: 15px auto;
	}
}
}
@mixin icon_Block_Style{
	.descriptions__item{


		.descriptions__item__iconBlock{
			margin-top: -10px;
			font-size: 50px;
			margin-right: 37px;


		}

}
}

.attention_text{
	color:red!important;
	//font-size: 16px;
}

.icon_block_color{
	color:$color_orange;
}

.no-pd {
padding-right: 0 ! important;;
padding-left: 0 ! important;;
}


h1{
	text-align: center;
	margin-top: 40px;
}
body,html,ul,p,li{
	margin: 0;
	padding: 0;
	letter-spacing: 0.5px;

}

.resize:hover {
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

html{
	overflow: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;


}

.horizontal{
	border-color:#7c7c7c;
	width: 100%;
}

.parallax{
	height: 400px;
}

/*First screen*/

.header{
	background-color: rgba(0,0,0,0.3);
	min-height: 100vh;
}

.menu{
	padding-top: 33px;
	.menu_toggle{
		display: none;
	}
	.menu_wrap__item{
		margin-right: 15px;

	  cursor: pointer;
	  list-style-type: none;
		a{
			color:#ffffff;
			font-size: 15px;
			text-decoration: none;
			text-transform: uppercase;
			transition: all 0.3s ease;
			background-color: rgba(0, 0, 0, 0.4);
			padding: 10px 20px;
			border-radius: 20px;

			&:hover{
				color:$color_main;
				text-decoration: none;
				background-color: rgba(0, 0, 0, 1);
			}
		}
	}
}

.icons__item{

	font-size: 17px;
	list-style-type: none;
	margin-right: 15px;

	a{
		color:#ffffff;
		background-color: rgba(0, 0, 0, 0.4);
		padding: 10px 17px;
		border-radius: 20px;
		transition: all 0.3s ease;
		&:hover{
			color:$color_main;
				background-color: rgba(0, 0, 0, 1);
		}
	}
}


.logo{
	margin-top: 12%;
	color:#ffffff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
img{
	width: 250px;
	margin-bottom: 10px;
}
.logo__text{
	margin-bottom:-0.5rem;
	padding: 0;
	color:$color_main;
	font-weight: bold;
	width: 170px;
	letter-spacing: 3px;
}
	.first{
		font-size: 2.5rem;
		line-height: 50px;
	}
	.second{
		font-size: 1.3rem;
		text-align: right;

	}
	.third{
    font-size: 1.3rem;
			text-align: right;
	}


}

.site_desc{
	color:$color_main;
	padding: 60px 0px;
	background-color: rgba(0, 0, 0, 0.5);
	border: #ffffff solid 1px;
	border-radius: 20px;
	h1{
		text-transform: uppercase;
		font-size: 54px;
		letter-spacing:3px;
	}
}

.scroll{

.scroll__title{
	font-size: 18px;
	color:$color_main;
	text-align: center;
	text-transform: uppercase;
}
.scroll__button{
	margin: 0 auto;
	color:#ffffff;
	width: 50px;
	height: 50px;
	border: 2px solid #ffffff;
	border-radius: 100%;
	cursor: pointer;
	transition: all 0.3s ease;
	display: block;
	.scroll__button__icon{
		display: block;
		text-align: center;
		line-height: 50px;
		font-size: 30px;
	}
	&:hover{
			color: $color_main;
			border: 2px solid $color_main;
	}
}
}

/*Second Screen*/

.descriptions{
	background: #17182d;
	padding-bottom: 50px;
	color: #ffffff;
  @include title;
  min-height: 100vh;

@include icon_Block_Style;

	.main_desc{
		margin-top: 80px;
		text-align: center;
		font-size:1.5rem;

	}
}

/*Third Screen*/
.item_backgroud{
background-color: rgba(0, 0, 0, 0.5);
border-radius: 20px;
height: 100%;

}

@include title;
.whywe{
	padding-bottom: 50px;
	@include icon_Block_Style;
min-height: 100vh;

color:$color_orange;
background: url("../img/sky.jpg") no-repeat center top / cover;
.whywe__item{
padding: 15px;
align-items: center;
.descriptions__title{
	font-size: 1.3rem;
}
}


}

/*Fourth Screen*/

.prices{
	@include title;
	.title{
		color:#b6804e;
		margin: 0 auto 10% auto;
		border-radius: 20px;
		padding-bottom: 0;


		h2{
			font-size: 40px;
		}
	}

background: url("../img/background_prices.jpg") no-repeat center top / cover;
min-height: 100vh;
color:#000000;
	.prices__item{
		margin: auto;
		cursor: pointer;
		transition: 0.5s ease all;
		height: 100%;
		text-align: center;
	background: url("../img/background_prices_item.jpg") no-repeat center top / cover;
	border-radius: 2px;

.fa-user{
	margin-right: 5px;
	color:$color_orange;
}
	.prices__item__wrap{
		display: flex;
		flex-direction: column;
	  align-items: center;
		justify-content:center;
		box-shadow: 0 100px 100px 50px rgba(0,0,0,0.9);

	}

	.prices__item__size{
   margin: 0;
	 font-size: 50px;
	 line-height: 50px;
	 color:$color_orange;
cursor: pointer;
	}

	.prices__item__count{
  margin: 0;
	font-size: 25px;
	cursor: pointer;
	}

	.prices__item__people{
    font-size: 15px;
		cursor: pointer;
	}

	}
	.min{
		height:170px;
	  width: 255px;

	}
	.mid{
		height:200px;
		width: 280px;
	}
	.max{
		height:230px;
		width: 345px;
	}
}

.test{
	height: 100%;
	align-items: center;
}


/*Fifth Screen*/
.order {
	color:#ffffff;
	min-height: 100vh;
	background: url("../img/bg_order1.jpg") no-repeat center top / cover;
    padding-bottom: 50px;
		ul li{
			list-style-type:none;
			font-size: 20px;
			text-align: left;
			margin-left: 50px;
			margin-top: 15px;
			letter-spacing: 1px;
		}
}
.requirements{
	text-align: center;
	span{
		color:red;
		font-size: 23px;
		font-weight: bold;
	}
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    margin: 0 auto;
	text-align: center;
    font-size: 1.25em;
    text-transform: uppercase;
    line-height: 50px;
    color: white;
    display: inline-block;
    background: #6f82a9;
 	border:none;
 	height: 50px;
 	border-radius: 5px;
 	outline: none;
 	color:#ffffff;
 	min-width: 300px;
 	cursor: pointer;
 	transition: all 0.3s ease;

}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #3f5184;
}

textarea::placeholder{
	color:#ffffff;
}
input{
	width: 100%;
	background-color: rgba(0,0,0,0);
	border: 1px solid #ffffff;
	padding: 10px 0 10px 20px;
	margin-bottom: 20px !important;
	color: #ffffff;
	font-family: 'Gotham Medium';
	outline: none;

}

input::placeholder {
	color: #ffffff;

	}

.message{
	display: block;
 background-color: rgba(0,0,0,0);
 text-align: start;
 border: 1px solid #ffffff;
 padding: 10px 0 10px 20px;
 width: 100%;
 resize: none;
 color: #ffffff;
 box-sizing: border-box;
 outline: none;
}

.btn_submit{
 background: #6f82a9;
 border:none;
 height: 50px;
 transition: all 0.3s ease;
 font-family: 'Gotham Medium';
 text-transform: uppercase;
 padding:0;
 cursor: pointer;
 border-radius: 5px;
 outline: none;
 color:#ffffff;
 width: 150px;
	 margin-top: 15px;
}
.btn_submit:hover{
 background: #3f5184;

}

/*footer*/

.footer{
	color:$color_main;
	background: url("../img/bg5.jpg") no-repeat center top;
	height: 100px;
	.footer__logo img{
		width: 80px;
	}
	.contact{
		text-align: center;
	}
	.icons {

		margin-bottom: 0;
		a{
			margin-left: 8px;
			font-size: 30px;
			 padding: 0;
    color:$color_main;
		background:none;
		transition: 0.5s ease all;
	}

}
}

@media screen and (max-width: 1200px){
		.menu_wrap__item a{
			font-size: 6px;
		}
	}



@media screen and (max-width: 992px){
	.menu {

padding-top: 0;
		ul{
	flex-direction: column;
	text-align: center;
}
  li{
		margin-top: 20px;
	}
.icons__item{
	display: none;
}
}

.descriptions__item{
	margin-top: 10px;
	border-bottom: 1px solid #ffffff;
}

.whywe .title{
	padding-bottom: 0;
}

.prices{
	padding-bottom: 20px;
}



.prices__item{
margin-bottom: 20px!important;
.prices__item__wrap{
	box-shadow: none;
}

}
.form{
	margin-top: 50px;

}

}
